#gameBody {
  background-image: url("Images/placeholder-background.jpg");
  background-repeat: repeat;
}

#options {
  background-color: #b3b3cc;
  position: absolute;
  left: 90%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Login Screen*/

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
  margin: 0;
  padding: 5px; /*all four paddings are 5px*/
  font-family: Monospace;
  background: url(space.jpg) no-repeat;
  background-size: cover; /*Resize the background image to cover the entire container*/
}
.login-box{
  color: white;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*The transform property applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements.*/

}
.login-box h1{
  float: left;
  padding: 10px 5px; /*top and bottom paddings are 10px, right and left paddings are 5px*/
  font-size: 50px;
  border-bottom: 5px solid;
  margin-bottom: 20px;
}
.textbox{
  width: 100%;
  overflow: hidden; /*The overflow is clipped, and the rest of the content is hidden*/
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  border: none;
  outline: none;
  background: none;
}
.button{
  width: 100%;
  background: none;
  border: 5px solid white;
  color:white;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  margin: 20px 0;

}

}
